.popup__submit-button {
    width: 358px;
    background: black;
    margin-top: 48px;
    margin-bottom: 37px;
    border: 0px;
    cursor: pointer;
    border-radius: 2px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup__submit-button:hover {
    background: #000000;
    opacity: 0.8;
    border-radius: 2px;
}

@media screen and (max-width:450px) {
    .popup__submit-button {
        width: 238px;
        height: 46px;
    }
}