.element__group {
    width: 22px;
    height: 19px;
    background: url(../../../image/heart_button.svg);
    outline: none;
    box-shadow: none;
    border: none;
    padding: 0px;
    transition: background 9999999s;
}

.element__group:hover {
    cursor: pointer;
    opacity: 0.5;
}

.element__group:active {
    background: url(../../../image/heart_button_active.svg);
    transition: background 0s;
}