.footer__copyright {
    width: 318px;
    height: 18px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 0px;
}

@media screen and (max-width: 600px) {
    .footer__copyright {
        max-width: 200px;
    }
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
    }
}