.popup__button-text {
    width: 109px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width:450px) {
    .popup__button-text {
        font-size: 14px;
        line-height: 17px;
    }
}